body{
    background-color: #e0e0e0;
}

#main, #title,
#p, #txt-box, #by{
    font-family: sans-serif;
}

#main{
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#title{
    margin-bottom: 2%;
    font-size: 40px;
}

#p{
    align-self: flex-start;
    margin-left: 41%;
}

#txt-box{
    margin-top: 5%;
    width: 400px;
    height: 500px;
    background-color: #FFE4C4;
    padding: 1.4%;
    text-align: justify;
    border-radius: 50px;
    background: #e0e0e0;
    box-shadow:  32px 32px 63px #bebebe,
             -32px -32px 63px #ffffff;
}

#img{
    position: absolute;
    bottom: 0;
    left: 0;
}

#by{
    position: absolute;
    bottom: 0;
    right: 0;
    text-decoration: none;
    color: black;
    margin-right: 2%;
}

.by{
    font-size: 11px;
}